<?xml version="1.0"?>

<launch>

	<node name="format_adjustment" type="format_converter_node.py" pkg="auv_perception" output="screen" respawn="true"></node>
	<node name="image_correction" type="pinax_model_refraction_correction.py" pkg="auv_perception" output="screen" respawn="true"></node>
	<node name="depth_estimation" type="depth_estimation_node.py" pkg="auv_perception" output="screen" respawn="true"></node>
</launch>
