<?xml version="1.0"?>

<launch>
	<node name="pinax_image_correction" type="pinax_model_refraction_correction.py" pkg="perception" output="screen" respawn="true"></node>
	<node name="depth_map" type="depth_map.py" pkg="perception" output="screen" respawn="true"></node>
	<node name="depth" type="depth.py" pkg="perception" output="screen" respawn="true"></node>
	<node name="detection" type="detection.py" pkg="perception" output="screen" respawn="true"></node>
</launch>
